body{
  background-color: crimson;
}

h1{
  width: 100%;
  background-color: blueviolet;
  color: darkblue;
}

p{
  float: left;
  color: darkblue;
  width: 30%;
  height: 30%;
  background-color: salmon;
}

#js{
  float: right;
}


#images{
  clear: left;
  height: 20%;
}

img{
  width:16%;
}
